{% extends "pages/base.html" %}
{%block title%}
HOME
{%endblock%}
{%block content%}
<div class = "container">
    <div class="weather-card">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <span class="weather-icon">⛈️</span>
                <span class="fs-1">30°</span>
            </div>
            <div>
                <span class="realfeel">RealFeel® 34°</span>
                <br>
                <span class="text-muted">40% <i class="bi bi-droplet"></i></span>
            </div>
        </div>
        <div class="divider"></div>
        <p class="mb-1">Mưa dông</p>
        <div class="row text-center">
            <div class="col-6">
                <p class="mb-1"><strong>Gió:</strong> ĐĐN 9 km/h</p>
                <p class="mb-1"><strong>Chất lượng không khí:</strong> <span class="quality-good">Vừa phải</span></p>
                <p class="mb-1"><strong>Điểm sương:</strong> 24°C</p>
                <p class="mb-1"><strong>Mật độ mây:</strong> 89%</p>
                <p class="mb-1"><strong>Mưa:</strong> 0.1 mm</p>
            </div>
            <div class="col-6">
                <p class="mb-1"><strong>Gió giật:</strong> 20 km/h</p>
                <p class="mb-1"><strong>Độ ẩm:</strong> 71%</p>
                <p class="mb-1"><strong>Tầm nhìn:</strong> 11 km</p>
                <p class="mb-1"><strong>Trần mây:</strong> 2700 m</p>
            </div>
        </div>
    </div>

    <div class="weather-card">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <span class="weather-icon">⛈️</span>
                <span class="fs-1">30°</span>
            </div>
            <div>
                <span class="realfeel">RealFeel® 34°</span>
                <br>
                <span class="text-muted">40% <i class="bi bi-droplet"></i></span>
            </div>
        </div>
        <div class="divider"></div>
        <p class="mb-1">Mưa dông</p>
        <div class="row text-center">
            <div class="col-6">
                <p class="mb-1"><strong>Gió:</strong> ĐĐN 9 km/h</p>
                <p class="mb-1"><strong>Chất lượng không khí:</strong> <span class="quality-good">Vừa phải</span></p>
                <p class="mb-1"><strong>Điểm sương:</strong> 24°C</p>
                <p class="mb-1"><strong>Mật độ mây:</strong> 89%</p>
                <p class="mb-1"><strong>Mưa:</strong> 0.1 mm</p>
            </div>
            <div class="col-6">
                <p class="mb-1"><strong>Gió giật:</strong> 20 km/h</p>
                <p class="mb-1"><strong>Độ ẩm:</strong> 71%</p>
                <p class="mb-1"><strong>Tầm nhìn:</strong> 11 km</p>
                <p class="mb-1"><strong>Trần mây:</strong> 2700 m</p>
            </div>
        </div>
    </div>
</div>


{%endblock%}